# History files
.Rhistory
.Rapp.history
.RData

**/**ipynb**
**/*~lock*


# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Rcpp files
*.o
*.dll

# vim backup

*~

inst/extdata/Rplots.pdf
inst/extdata/plot_test.R
**/osmose-Ex*

inst/extdata/eec/make_netcdf_mask.R
*.swp
*.tmp
vignettes/osmose.log
vignettes/*.R
inst/doc
/vignettes/plot_method_files
/vignettes/plot_method_cache
/vignettes/create_run_read_cache

java/target
**sh
**.html
build
dist
nbproject

**.tar.gz
**.Rcheck

**/nbactions.xml
**/.classpath
**/.settings
**/.project
**/*jar-with-dependencies.jar

**/*.ipynb

# doc
**/_build
**/eec_4.3.0
**/gog
**/*calib_demo*
doc/osmose/_static/plot_step_chart.pdf
doc/osmose/mort/_static/fishing-period.pdf
doc/osmose/mort/_static/size_ratio.pdf
doc/osmose/process/_static/gom.pdf
doc/osmose/process/_static/size_ratio.pdf
doc/osmose/process/_static/vb.pdf
**/_static/*svg
**.log
**.aux

**/verif_fisheries*.png
doc/rosmose/_static/*png
**/_static/**/*.png


