# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Rcpp files
*.o
*.dll

# vim backup

*~

inst/extdata/Rplots.pdf
inst/extdata/plot_test.R

inst/extdata/eec/make_netcdf_mask.R
*.swp
*.tmp
vignettes/vignette_cache
vignettes/osmose.log
vignettes/*.R
inst/doc
/vignettes/create_run_read_files
/vignettes/create_run_read_cache
